@{
    ViewBag.Title = "Modern Healthblog";
}

<h2 id="Headline"> Modern healthblog </h2>

<div id="Navbar">
    <div id="Buttons">
        <button id="Optimalnutrition"> Optimal nutrition </button>
        <button id="Super workouts"> Super workouts </button>
        <button id="Mental strength"> Mental strength </button>
        <button id="Productivity habits"> Productivity habits </button>
    </div>
</div>
